{% extends "main.html" %}
{% block contenido %}

{% if objetivo == 'Detalles' %}
<h1 style="text-align: center"> Listado  de productos académicos </h1>
{% endif %}
{% if objetivo == 'Modificar' %}
<h1 style="text-align: center"> Seleccione el producto que desea modificar </h1>
{% endif %}
<hr/>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Tipo</th>
        <th>Investigación</th>
        <th>Corpus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>


{% for producto in productos %}
<tr>
  <td> {{producto.titulo}} </td>
  <td> {{producto.tipo}} </td>
  <td> </td>
  <td> </td>
  <td>
    {% if objetivo == 'Modificar' %}
      <a href=/productos/modifcar/{{producto.id}}>Modificar</a>
       |
    {% endif %}
       <a href=/productos/detalles/?producto_id={{producto.id}}/>Ver detalles</a>
  </td>

</tr>
{% endfor %}

   </tbody>
  </table>
</div>
{% endblock%}
