{% extends "main.html" %}
{% block contenido %}

<h1 style="text-align: center"> Listado general de productos académicos </h1>
<hr/>


<div class="table-responsive">
 <table id="table"
           data-toggle="table"
           data-url="/productos/json"
           data-filter-control="true">
        <thead>
        <tr>
            <th data-field="titulo" data-filter-control="input">Título</th>
            <th data-field="tipo" data-filter-control="input">Tipo</th>
            <th data-field="descripcion" data-filter-control="select">Investigación</th>
            <th data-field="price2" data-filter-control="select">Corpus</th>
        </tr>
        </thead>

 

  </table>
</div>
{% endblock%}