__pycache__/
*.pyc
cyanocorax/config/settings/secrets.json
cyanocorax/webclient/fixtures/auth.json
cyanocorax/webclient/fixtures/usuarios.json
#cyanocorax/static
#cyanocorax/*/static

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
