<html lang="es">

{% load staticfiles %}

    <head>

        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta content="" name="Plataforma para manejo de corpus orales">
        <meta content="" name="Instituto Caro y Cuervo">
        <link href="{% static 'img/favicon.ico'%}" rel="icon">

        <title>Cyanocorax:: Plataforma para manejo de corpus orales</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/dashboard.css' %}">
        <!-- Custom styles for this proyect -->
        <link rel="stylesheet" href="{% static 'css/general.css' %}">

        <!-- CSS adicionales cargados por cada plantilla -->
        {% block customcss %}
        {% endblock customcss%}

    </head>

    <body >

ssss
                    {% block contenido %}
                    {% endblock contenido %}
dddd
                <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {%block footerscripts%}
        <script src="{%static 'jquery/jquery.min.js'%}"></script>
        <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{%static 'bootstrap/assets/js/vendor/holder.min.js'%}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{%static 'bootstrap/assets/js/ie10-viewport-bug-workaround.js'%}"></script>
        {%endblock footerscripts%}


    </body>

</html>
